@using HallHaven.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using HallHaven.Models;
@using System.Security.Claims;

@inject SignInManager<HallHavenUser> _signInManager
@inject UserManager<HallHavenUser> _userManager
@inject HallHaven.Data.HallHavenContext _context

@{
    ViewData["Title"] = "Home Page";
    var loggedInUser = await _userManager.GetUserAsync(User);
}

<div class="text-center">
    @if (_signInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome to Hall Haven</h1>
        <h1 class="display-4">@loggedInUser.FirstName!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to Hall Haven</h1>
    }
    <img style="width: 200px;" src="/images/HallHavenLogov2.jpg" alt="Hall Haven Logo" />
</div>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img style="width: auto; height: 300px;" src="/images/threeCollegeStudents.jpg" alt="Three colleges students sitting with books." />
        </div>
        <div class="col-12 d-flex justify-content-center" style="margin: 25px 0px 25px 0px;">
        </div>
    </div>
</div>

<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @{
                // logged in user
                var identityUser = await _userManager.GetUserAsync(User);
            }

            @if (_signInManager.IsSignedIn(User))
            {
                @if (Model.Count != null)
                {
                    @foreach (User user in Model)
                    {
                        // modal popup from user button
                        <div id="myModal-@user.UserId" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">@user.DisplayName's Biography</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@user.ProfileBio</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default closeModalBtn" data-target="#myModal-@user.UserId" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">

                                @if (user.ProfilePicture != null)
                                {
                                    <img class="bd-placeholder-img card-img-top" style="width: 100%; height: 275px; object-fit: cover;" alt="User Profile Image"
                                         src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))">
                                }
                                else
                                {
                                    <img class="bd-placeholder-img card-img-top" style="width: 100%; height: 275px; object-fit: contain;"
                                         src="/images/user.png" alt="User Icon">
                                }


                                <div class="card-body">
                                    <div class="card-text">
                                        <h4 class="d-flex justify-content-center">@user.DisplayName</h4>
                                        <div>@user.UserId</div>
                                        <div>@user.Gender.Gender1</div>
                                        <div>Hall</div>
                                        <div>Classification</div>
                                        <div>Percentage</div>
                                    </div>
     
                                    <div class="d-flex justify-content-center align-items-center" style="margin-top: 15px;">
                                        <div class="btn-group">
                                            <button class="btn btn-outline-secondary modalButton" type="button" data-toggle="modal" data-target="#myModal-@user.UserId">
                                                <img class="icon" src="/images/user.png" alt="User Icon" />
                                            </button>
                                            <button type="button" class="btn btn-outline-secondary"><img class="icon" src="/images/mail.png" alt="Mail Icon" /></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>There are no users.</div>
                }

            }

        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".modalButton").click(function () {
                var userId = $(this).data("target").split("-")[1];
                $("#myModal-" + userId).modal("show");
            });
        });

        $(".closeModalBtn").click(function () {
            var userId = $(this).data("target").split("-")[1];
            $("#myModal-" + userId).modal("hide");
        });

    </script>
}
